<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218173803670-ig2e1usgg1omht17b4jlgr0r90eu886b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218173803670-ig2e1usgg1omht17b4jlgr0r90eu886b</string>
	<key>API_KEY</key>
	<string>AIzaSyDFxS_4GzZuUsgCFSLjR_Gxh0_EHDo1WAg</string>
	<key>GCM_SENDER_ID</key>
	<string>218173803670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connectionerror.nakprad</string>
	<key>PROJECT_ID</key>
	<string>meincall</string>
	<key>STORAGE_BUCKET</key>
	<string>meincall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218173803670:ios:45ed9d412756ee166686b7</string>
	<key>DATABASE_URL</key>
	<string>https://meincall-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>